docker.enabled = true

params {
  multiVCF       = false
  multiVCF_index = false
  list_folder    = false
  outdir = "./results"
  dict  = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
  fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  fai   = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"

}

process {
    withName: chop_multiVCF {
      cpus = 1
      }
}