docker.enabled = true

params {
  inputdir = false
  fasta = false
  fai = false
  dict = false
  genome = false
  outdir = "./results"
  dict                   = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
  fasta                  = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  fastaFai               = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"

}

process {
    withName: SelectSNPsPASS {
      cpus = 1
    }
    withName: Vcf2maf {
      cpus = 1
    }
    withName: CountSNPs {
      cpus = 1
    }    
}